@font-face {
    font-family: "Graphik LC TT";
    src: url(../fonts/GraphikLCG-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/GraphikLCG-Semibold.ttf);
}

.fix-size {
    margin: 0 auto;
    max-width: 1260px;
}

.hr-line {
    border-bottom: 1px solid #CCCCCC;
}